/* DEFAULTS (override bootstrap styling) */

html {
  /* 1rem is 14px instead of bootstrap default (16px) */
  font-size: 87.5%;
}

/* CUSTOM (page specific) */

#recentBlocksTable, #recentTxTable {
  border-collapse: collapse !important;
}
#recentBlocksTable td, #recentBlocksTable th, #recentTxTable td, #recentTxTable th {
  white-space: nowrap;
  padding: 0.5rem;
}