/* DEFAULTS (override bootstrap styling) */

html {
  /* 1rem is 14px instead of bootstrap default (16px) */
  font-size: 87.5%;
}

.Blocks {
  height: 80vh;
  overflow: scroll;
}

.Txs {
  height: 80vh;
  overflow: scroll;
}
