$enable-rounded: false;
$enable-transitions: true;
// $enable-gradients: true;
$primary: #6b8e23;

@import '~bootstrap/scss/bootstrap';
/* DEFAULTS (override bootstrap styling) */

html {
  /* 1rem is 14px instead of bootstrap default (16px) */
  font-size: 87.5%;
  body {
    padding-top: 60px;
  }
}

.Blocks {
  height: 80vh;
  overflow: scroll;
}

.Txs {
  height: 80vh;
  overflow: scroll;
}

.Nav {
  height: 60px;
}

.SearchForm {
  form {
    input[type="text"] {
      width: 350px;
      max-width: 400px;
    }
  }
}

.MyAccounts {
  position: fixed;
  max-width: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ccc;
  bottom: 0;
  height: 100%;
  padding-top: 50px;
}